# Compiled executables

coin
fever
fortune_cookie
levels
voting
trivia_quiz
pratice

99_bottles
counting_sheep
enter_pin
fizz_buzz
guess_the_number

lemonade_stand
order_cart
roadtrip_playlist
sum_of_even_product_of_odd

conversion
drive_thru
leave_a_tip
ooo

bank_account
car_show_room
old_money_and_new_money
pet
restaurants

bank
classic_cars
pet_rescue_app
student

range_sum

memory_address
pointers
nullptr
# Default GCC output
a.out
