# Compiled executables
coin
fever
fortune_cookie
levels
voting
trivia_quiz
99_bottles
counting_sheep
enter_pin
fizz_buzz
guess_the_number
lemonade_stand
order_cart
roadtrip_playlist
sum_of_even_product_of_odd
conversion
drive_thru
leave_a_tip
ooo

# Default GCC output
a.out

# VS Code
.vscode/

# macOS
.DS_Store